@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --bg-0: var(--color-zinc-50);
  --bg-1: var(--color-zinc-100);
  --bg-2: var(--color-zinc-200);
  --text-1: var(--color-zinc-700);
  --text-2: #696969;
  --border-1: rgb(198, 198, 198);
  --border-2: rgb(218, 218, 218);
}

.dark {
  --background: #131313;
  --foreground: #ededed;
  --bg-0: var(--color-zinc-900);
  --bg-1: var(--color-zinc-800);
  --bg-2: var(--color-zinc-700);
  --text-1: var(--color-zinc-300);
  --text-2: #989898;
  --border-1: rgb(70, 70, 70);
  --border-2: rgb(56, 56, 56);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --color-unlvRed: rgb(221, 16, 50);
    --color-unlvLightRed: rgba(252, 43, 78, 0.92);
    --color-unlvVeryLightRed: rgba(252, 43, 78, 0.596);
    --color-unlvVeryLightRed2: rgba(252, 43, 78, 0.116);
    --color-unlvDarkRed: rgb(182, 2, 32);
    --color-unlvDarkerRed: rgb(148, 0, 25);
    --color-unlvDarkerRed1: rgb(126, 0, 21);
    --color-unlvGray: rgb(96, 96, 96);
  }
}


/* CSS section template
***********************/
