@import "tailwindcss";

:root {
  --background: #fafafa;
  --foreground: #171717;
  --bg-0: rgb(255, 255, 255);
  --bg-1: rgb(253, 253, 253);
  --bg-2: rgb(244, 244, 244);
  --bg-3: rgb(230, 230, 230);
  --text-1: var(--color-zinc-700);
  --text-2: #696969;
  --border-0: rgb(241, 241, 241);
  --border-1: rgb(224, 224, 224);
  --border-2: rgb(223, 223, 223);
  --border-3: rgb(198, 198, 198);
}

.dark {
  --background: #131313;
  --foreground: #ededed;
  --bg-0: #040404;
  --bg-1: #121212;
  --bg-2: var(--color-zinc-900);
  --bg-3: var(--color-zinc-800);
  --text-1: var(--color-zinc-300);
  --text-2: #989898;
  --border-0: rgb(28, 28, 28);
  --border-1: rgb(38, 38, 38);
  --border-2: rgb(52, 52, 52);
  --border-3: rgb(81, 81, 81);
}

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

@layer base {
  :root {
    --unlvRed-0: rgb(221, 16, 50);
    --unlvRed-1: rgba(252, 43, 78, 0.92);
    --unlvRed-2: rgba(252, 43, 78, 0.596);
    --unlvRed-3: rgba(252, 43, 78, 0.116);
    --unlvRed-4: rgba(252, 43, 78, 0.059);
    --unlvRed-5: rgb(182, 2, 32);
    --unlvRed-6: rgb(148, 0, 25);
    --unlvRed-7: rgb(126, 0, 21);
    --unlvGray: rgb(96, 96, 96);
  }
}


/* CSS section template
***********************/


input {
  outline: none;
  padding: 5px;
  background-color: var(--bg-0);
  border: 1px solid var(--border-1);
  border-radius: 8px;
  padding: 5px 5px 5px 10px;
  color: var(--text-2);
  transition: all 0.2s ease;
}

input:hover {
  border: 1px solid var(--unlvRed-1);
}

button {
  cursor: pointer;
  font-weight: 500;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 8px;
}

label {
  color: var(--text-2);
  font-weight: 500;
  margin-bottom: 5px;
}