.navbar-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: var(--bg-0);
  border-bottom: 1px solid var(--border-2);
}

.navbar-logo-text {
  font-weight: bold;
  font-size: 25px;
  color: var(--unlvRed-0);
}

.navbar-title-img {
  max-width: 90;
}

.toggleTheme-btn {
  cursor: pointer;
  height: 40px;
  width: 40px;
  padding: 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-1);
  border: none;
  transition: background-color 0.2s ease;
}

.toggleTheme-btn:hover {
  background-color: var(--bg-2);
}