.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.result-label {
  color: var(--text-2);
  width: 100%;
  text-align: center;
  pointer-events: none;
  user-select: none;
  font-size: 14;
}

.result {
  font-weight: bold;
  font-size: 30px;
  color: var(--text-1);
}

.results-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.results-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 200px;
  height: 100px;
  background-color: var(--bg-0);
  border: 1px solid var(--border-2);
  border-radius: 10px;
}

.space {
  padding: 10px;
}

@media (max-width: 768px) {
  .results-bg {
    width: 100%;
    height: 80px;
    border: none;
  }
  .results-container {
    flex-direction: column;
    width: 100%;
    border-top: 1px solid var(--border-2);
    border-bottom: 1px solid var(--border-2);

  }
  .space {
    padding: 0px;
  }
}
