/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* // Themes // */
@layer base {
    :root {
    --color-unlvRed: rgb(221, 16, 50);
    --color-unlvLightRed: rgba(252, 43, 78, 0.863);
    --color-unlvDarkRed: rgb(182, 2, 32);
    --color-unlvDarkerRed: rgb(148, 0, 25);
    --color-unlvDarkerRed1: rgb(126, 0, 21);
    --color-unlvGray: rgb(102, 102, 102);
    }
}

.theme-dark {
    --color-bgPrimary: rgb(36, 36, 36);
    --color-primary: rgb(31, 31, 31);
    --color-secondary: rgb(68, 68, 68);
    --color-primaryText: rgb(255, 255, 255);
    --color-secondaryText: rgb(196, 196, 196);
    --color-tertiaryText: rgb(139, 139, 139);
}
.theme-light {
    --color-bgPrimary: rgb(255, 255, 255);
    --color-primary: rgb(255, 255, 255);
    --color-secondary: rgb(211, 211, 211);
    --color-primaryText: rgb(37, 37, 37);
    --color-secondaryText: rgb(78, 78, 78);
    --color-tertiaryText: rgb(145, 145, 145);
}

/* // Button styles // */

.textLink {
    transition: color 0.2s ease;
}

.textLink:hover {
    text-decoration: underline;
    color: var(--color-unlvRed);
}

.textLink:active {
    color: var(--color-unlvDarkRed);
}